
<table class="ppi">
    <thead>
        <tr>
            <td rowspan="3">&nbsp;</td>
            <td colspan="{{ (items|first|keys|last - items|first|keys|first +1)*3 }}" data-scroll-span="{{ (items|first|keys|last - items|first|keys|first +1)*3 }}">&nbsp;</td>
            {# <td rowspan="3"></td> #}
        </tr>
        <tr>
            {% for annee in items|first|keys %}
            <td colspan="3">{{annee}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for annee in items|first|keys %}
            <td>depense</th>
            <td>recette</td>
            <td>charge nette</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for libelle, item in items %}
        <tr>
            <td><a href="{{ path('admin_operation_show', {'id': libelle|split('####').1}) }}">{{ libelle|split('####').0 }}</a></td>
            {% for operation in item %}
            <td>{{operation.depense}}</td>
            <td>{{operation.recette}}</td>
            <td>{{operation.depense - operation.recette}}</td>
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td rowspan="1"></td>
            <td rowspan="{{ (items|first|keys|last - items|first|keys|first +1)*3 }}" class="sg-x-scroll-cell"></td>
            {# <td rowspan="1"></td> #}
        </tr>
    </tfoot>
</table>
