{% extends 'base.html.twig' %}

{% block title %}Operation{% endblock %}

{% block body %}
    <h1>Operation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ operation.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ operation.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ operation.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ operation.description }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ operation.commentaire }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ operation.montant }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ operation.annee ? operation.annee|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ operation.type ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_operation_index') }}">back to list</a>

    <a href="{{ path('admin_operation_edit', {'id': operation.id}) }}">edit</a>

    {{ include('admin_operation/_delete_form.html.twig') }}
{% endblock %}
