{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}New OperationData{% endblock %}

{% block body %}
    <h1>Create new OperationData</h1>

    {# {{ include('admin/operation_data/_form.html.twig') }} #}
    
    
    <section id="data">
        <article class="operation" id="operation">
            <header>{{ operation.libelle }}</header>
            <p id="reference">Département XXX - Direction XXX</p>
            <section class="description">
                <header>description de l’opération d’investissement</header>
                <p>{{ operation.description }}</p>
            </section>
            <section class="estimation">
                <header>estimation du coût de l’opération</header>
                {# <p>{% include "admin/operation/ppi_parCategorie.html.twig" with {'items': ppi} %}</p> #}
            </section>
            <section class="notifications">
                <header>remarques</header>
                <p>{{ operation.commentaire }}</p>
            </section>
        </article>
    </section>
    <section id="formOperationData">{% include 'admin/operation_data/_form.html.twig' %}</section>
    <section id="dataOperationData">{% include "admin/operation_data/block.html.twig" with {items: operation.operationData} %}</section>


    <a href="{{ path('admin_operation_data_index') }}">back to list</a>
{% endblock %}
